<!DOCTYPE html>
<html>
<head>
<title>Cinema Database</title>
</head>
<body>

<h1>Cinema Database</h1>
<h3><a href = "/actors">List of all Actors</a></h3>
<h3><a href="/movies">List of all Movies</a></h3>

</body>
</html>
